[data-theme='sesi'] {
    --background: hsl(0 0% 100%);
    --foreground: hsl(222.2222 47.3684% 11.1765%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(222.2222 47.3684% 11.1765%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(222.2222 47.3684% 11.1765%);
    --primary: hsl(219 70.5882% 33.3333%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(219.3103 70.7317% 91.9608%);
    --secondary-foreground: hsl(219 70.5882% 33.3333%);
    --muted: hsl(210 40% 96.0784%);
    --muted-foreground: hsl(215.3846 16.318% 46.8627%);
    --accent: hsl(210 40% 96.0784%);
    --accent-foreground: hsl(219 70.5882% 33.3333%);
    --destructive: hsl(0 84.2365% 60.1961%);
    --destructive-foreground: hsl(0 0% 100%);
    --border: hsl(214.2857 31.8182% 91.3725%);
    --input: hsl(0 0% 100%);
    --ring: hsl(219 70.5882% 33.3333%);
    --chart-1: hsl(219 70.5882% 33.3333%);
    --chart-2: hsl(225 72.7273% 56.8627%);
    --chart-3: hsl(220.6612 85.8156% 72.3529%);
    --chart-4: hsl(219.2857 87.5% 81.1765%);
    --chart-5: hsl(219.3103 70.7317% 91.9608%);
    --sidebar: hsl(210 40% 98.0392%);
    --sidebar-foreground: hsl(217.2414 32.5843% 17.451%);
    --sidebar-primary: hsl(219 70.5882% 33.3333%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(219.3103 70.7317% 91.9608%);
    --sidebar-accent-foreground: hsl(219 70.5882% 33.3333%);
    --sidebar-border: hsl(214.2857 31.8182% 91.3725%);
    --sidebar-ring: hsl(219 70.5882% 33.3333%);
    --font-sans: Inter, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.75rem;
    --shadow-x: 0px;
    --shadow-y: 2px;
    --shadow-blur: 10px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.1;
    --shadow-color: #000000;
    --shadow-2xs: 0px 2px 10px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 2px 10px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm:
        0px 2px 10px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow:
        0px 2px 10px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md:
        0px 2px 10px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg:
        0px 2px 10px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl:
        0px 2px 10px 0px hsl(0 0% 0% / 0.1),
        0px 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 2px 10px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0px;
    --spacing: 0.35rem;
}

[data-theme='sesi'].dark {
    --background: hsl(222.2222 47.3684% 11.1765%);
    --foreground: hsl(210 40% 98.0392%);
    --card: hsl(217.2414 32.5843% 17.451%);
    --card-foreground: hsl(210 40% 98.0392%);
    --popover: hsl(222.2222 47.3684% 11.1765%);
    --popover-foreground: hsl(210 40% 98.0392%);
    --primary: hsl(219 70.5882% 33.3333%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(217.2414 32.5843% 17.451%);
    --secondary-foreground: hsl(219.3103 70.7317% 91.9608%);
    --muted: hsl(217.2414 32.5843% 17.451%);
    --muted-foreground: hsl(215 20.2247% 65.098%);
    --accent: hsl(217.2414 32.5843% 17.451%);
    --accent-foreground: hsl(219.3103 70.7317% 91.9608%);
    --destructive: hsl(0 62.8205% 30.5882%);
    --destructive-foreground: hsl(210 40% 98.0392%);
    --border: hsl(215.2941 25% 26.6667%);
    --input: hsl(215.2941 25% 26.6667%);
    --ring: hsl(219 70.5882% 33.3333%);
    --chart-1: hsl(219 70.5882% 33.3333%);
    --chart-2: hsl(217.2193 91.2195% 59.8039%);
    --chart-3: hsl(213.1169 93.9024% 67.8431%);
    --chart-4: hsl(211.6981 96.3636% 78.4314%);
    --chart-5: hsl(213.3333 96.9231% 87.2549%);
    --sidebar: hsl(217.2414 32.5843% 17.451%);
    --sidebar-foreground: hsl(210 40% 98.0392%);
    --sidebar-primary: hsl(219 70.5882% 33.3333%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(215.2941 25% 26.6667%);
    --sidebar-accent-foreground: hsl(219.3103 70.7317% 91.9608%);
    --sidebar-border: hsl(215.2941 25% 26.6667%);
    --sidebar-ring: hsl(219 70.5882% 33.3333%);
    --font-sans: Inter, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: JetBrains Mono, monospace;
    --radius: 0.75rem;
    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 15px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.5;
    --shadow-color: #000000;
    --shadow-2xs: 0px 4px 15px 0px hsl(0 0% 0% / 0.25);
    --shadow-xs: 0px 4px 15px 0px hsl(0 0% 0% / 0.25);
    --shadow-sm:
        0px 4px 15px 0px hsl(0 0% 0% / 0.5), 0px 1px 2px -1px hsl(0 0% 0% / 0.5);
    --shadow:
        0px 4px 15px 0px hsl(0 0% 0% / 0.5), 0px 1px 2px -1px hsl(0 0% 0% / 0.5);
    --shadow-md:
        0px 4px 15px 0px hsl(0 0% 0% / 0.5), 0px 2px 4px -1px hsl(0 0% 0% / 0.5);
    --shadow-lg:
        0px 4px 15px 0px hsl(0 0% 0% / 0.5), 0px 4px 6px -1px hsl(0 0% 0% / 0.5);
    --shadow-xl:
        0px 4px 15px 0px hsl(0 0% 0% / 0.5),
        0px 8px 10px -1px hsl(0 0% 0% / 0.5);
    --shadow-2xl: 0px 4px 15px 0px hsl(0 0% 0% / 1.25);
}
